<div class="timepicker">
    <button class="timepicker__controls timepicker__controls--minus" data-increment="-1">Minus</button>
    <section class="timepicker__wrapper">
        <div class="timepicker__carousel">
            <!--<figure ng-repeat="item in items">{{item}}</figure>-->
            <figure>00:00</figure>
            <figure>01:00</figure>
            <figure>02:00</figure>
            <figure>03:00</figure>
            <figure>04:00</figure>
            <figure>05:00</figure>
            <figure>06:00</figure>
            <figure>07:00</figure>
            <figure>08:00</figure>
            <figure>09:00</figure>
            <figure>11:00</figure>
            <figure>12:00</figure>
            <figure>13:00</figure>
            <figure>14:00</figure>
            <figure>15:00</figure>
            <figure>16:00</figure>
            <figure>17:00</figure>
            <figure>18:00</figure>
            <figure>19:00</figure>
            <figure>20:00</figure>
            <figure>21:00</figure>
            <figure>22:00</figure>
            <figure>23:00</figure>
        </div>
    </section>
    <button class="timepicker__controls timepicker__controls--plus" data-increment="1">Plus</button>
</div>