body {
    margin: 0;
    padding: 0;
}

.timepicker {

}

.timepicker .timepicker__wrapper {
    width: 210px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    border: 1px solid #CCC;
    perspective: 150px;
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


.timepicker .timepicker__wrapper .timepicker__carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.timepicker .timepicker__wrapper .timepicker__carousel figure {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0;
    height: 50px;
    top: 75px; /*=> more generic? => element height + elementheight/2 ? */
    color: #c7c7c7;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;

    backface-visibility: hidden;
}

.timepicker .timepicker__wrapper .timepicker__carousel figure.selected {
    color: black;
}

.timepicker.ready .timepicker__wrapper .timepicker__carousel {
    transition: transform 1s;
}

.timepicker.ready .timepicker__wrapper .timepicker__carousel figure {
    transition: all 1s, transform 1s;
}

.timepicker .timepicker__controls {
    position: relative;
    width: 210px;
    margin: auto;
    left: 0;
    display: block;
    right: 0;
}

.timepicker .timepicker__controls--minus {
    margin-bottom: 10px;
}

.timepicker .timepicker__controls--plus {
    margin-top: 10px;
}